header {

    .header-container-1 {
        display: flex;
        margin-top: 1rem;

        div {
            flex: 1;
        }

        .logo-container {
            display: flex;
            align-items: center;

            img {

                width: 110%;
            }
        }

        .menu-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .span-icon {


                .bar {
                    height: 10px;
                    width: 50px;
                    background-color: white;
                    border-radius: 5px;

                    &.milieu {
                        margin-top: 8px;
                        margin-bottom: 8px;
                    }
                }
            }

            p {
                display: none;
            }
        }

        .nous-rejoindre {
            height: fit-content;
            width: fit-content;
            margin: auto 1rem auto 0;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: center;


            span.point {}

            p {
                font-size: .8rem;
                margin: 0;
            }
        }
    }


    .header-container-2 {
        display: none;
    }

    &.open {
        .header-container-mobil {
            background-color: black;
            border-top: 1px white solid;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 7.5% 0;

            div {
                width: 75%;
                margin: 0;
                font-size: 1.2rem;
                border: 1px solid white;
                margin: 1rem 0;
                border-radius: 15px;

                p {
                    text-align: center;
                    margin: 0.5rem 0;
                }
            }



        }
    }

}

.content {
    margin-top: 10rem;
}