.cookies-container {
    width: 40%;
    max-width: 1000px;
    position: fixed;
    bottom: 60px;
    left: 25px;
    background-color: var(--background-color-primary);
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    padding: 10px 10px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.75);



    .titre {
        display: flex;
        justify-content: center;


        .span-image {
            flex: 1;
            background: url("../../images/cropped-image_2023-08-10_142556159-removebg-preview.webp") center/contain no-repeat;
        }

        p {
            flex: 3;
            margin: 25px 0;
            font-size: 15px;
        }
    }


    p {
        font-size: 9px;
        margin: 20px 0 20px 0;
    }

    .button-container {
        display: flex;
        // width: 50%;
        justify-content: right;
        flex-wrap: wrap;
        margin-bottom: 10px;

        p {
            cursor: pointer;

            padding: 15px 35px;
            border-radius: 5px;
            left: 50px;
            font-size: 10px;
            font-weight: bold;
            margin: 0 0 0 0;
            transition: all 0.25s ease-in;

            &.yes-button {
                background-color: var(--blue-primary);
                color: white;
                margin-left: 35px;

                &:hover {
                    background-color: white;
                    color: var(--blue-primary);
                }
            }

            &.no-button {
                background-color: white;
                color: var(--background-color-primary);


                &:hover {

                    color: var(--blue-primary);

                }
            }
        }

    }
}

@media (max-width: 600px) {
    .cookies-container {

        .button-container {
            display: block;

            p.yes-button {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 700px) {
    .cookies-container {
        .button-container {
            justify-content: space-evenly;
            text-align: center;

            p.yes-button {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 979.9px) {
    .cookies-container {
        width: 50%;
    }
}